{% extends "base.html" %}

{% block content%}

<div class="alert alert-error" id="alert_error" style="display:none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong >Error!</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The order had been done!
</div>

<div class="alert alert-success" id="alert_success" style="display:none;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Update successfully!
</div>


<table border="1" class="table table-bordered table-hover" id="booklist" style="border:1px solid black;">
	<thead>
		<tr class="info">
			<th data-sort="int">BookID</th>
			<th>{% ifequal order_type '0' %}进货{%else%}出售{%endifequal%}</th>
			<th>Number</th>
			<th data-sort="string">Title</th>
			<th data-sort="float" >Price{% ifequal order_type '0' %}(editable){% endifequal %}</th>
			<th data-sort="int">Stock</th>
			<th data-sort="string">State</th>
			
		</tr>
	</thead>
		
		{% for book in books %}
		<tr  class="{% ifequal book.state 'processing' %}warning
					{% else %}
						{% ifequal book.state 'done'%}success
						{% else %}error
						{% endifequal %}
					{% endifequal%}">
			<td><a href="#">{{book.id}}</a></td>
			<td><input type="checkbox" {% ifequal book.state 'cancled'%}{% else %}checked {% endifequal%}>
			</td>
			<td>
				<div class="input-prepend input-append">
  					<button class="btn btn-success minus" type="button">-</button>
				  	<input style="width:20px;" id="appendedPrependedInput" type="text" value={{book.number}} max={{book.numbers}} min=0 required readonly>
				  	<button class=" btn btn-info  plus" type="button">+</button>
                 </div>
			</td>
			<td>{{book.title}}</td>
			<td  {% ifequal order_type '0' %} contenteditable="true" class="modifyprice"{% endifequal%} >{{book.price}}</td>
			<td class="total_numbers">{{book.numbers}}</td>
			<td>{{book.state}}</td>
		</tr>

		{% endfor%}
</table>


{% block toolbar%}
{% ifequal order_state '0' %}
<div class="toolbar">
	<a href="#" class="s3d twitter forrst middle" id="addbooktoorder" value="{{order_id}}" >Add Book</a>

	<a href="#" class="s3d twitter middle" id="updateorder" value="{{order_id}}" >Update Order</a>
	<a href="#" class="s3d twitter designmoo middle" id="submitorder" value="{{order_id}}">Submit Order</a>
	<button style="display:none" id="order_type" value={{order_type}}>order_type</button>
</div>
{% endifequal %}
{% endblock%}



{% endblock%}