{% extends "base.html" %}

{% block extra_head %}
	<script type="text/javascript" src="/static/js/jquery.tagcanvas.min.js"></script>

{% endblock %}


{% block content%}


	<div id="myCanvasContainer" class="toolbar">
	  

     

<table border="1" class="table table-bordered table-hover" id="booklist" style="border:1px solid black;">
	<thead>
		<tr class="info">
			<th data-sort="int">ID</th>
		<!-- 	<th>Buy</th>
			<th>Number</th> -->
			<th data-sort="string"><a href="#">ISBN</a></th>
			<th data-sort="string"><a href="#">Title</a></th>
			<th data-sort="string"><a href="#">Authors</a></th>
			<th data-sort="float"><a href="#">Price</a></th>
			<th data-sort="int"><a href="#">Stock</a></th>
			<th data-sort="int"><a href="#">Sold</a></th>
			<th data-sort="string"><a href="#">Publisher</a></th>
			<th data-sort="date"><a href="#">Publication Date</a></th>
			
		</tr>
	</thead>
		
		{% for book in books %}
		<tr  class="{% if book.numbers <= 5 %}error
					{% else %}
						{% if book.numbers <= 20 %}info
						{% else %}warning
						{% endif %}
					{% endif%}">
			<td><a href="http://book.douban.com/isbn/{{book.isbn}}" target="_blank">{{book.id}}</a></td>
			<td>{{book.isbn}}</td>
			<td>{{book.title}}</td>
			<td>{{book.authors}}</td>
			<td>{{book.price}}</td>
			<td class="total_numbers">{{book.numbers}}</td>
			<td >{{book.sold}}</td>
			<td>{{book.publisher}}</td>
			<td>{{book.date}}</td>
		</tr>

		{% endfor%}
</table>

<div class="pagination-block">

  
    <div class="pagination">
      <ul>
        
          <!-- <li class="active"><a href="">1</a></li> 
        
          <li><a href="?p=1">2</a></li> 
        
          <li><a href="?p=2">3</a></li> 
        
          <li><a href="?p=3">4</a></li> 
        
          <li class="disabled"><a href="#" onclick="return false;">...</a></li>
        
          <li><a href="?p=130">131</a></li> 
        
          <li><a href="?p=131" class="end">132</a></li>  -->
          {% autoescape off%}
          {{paginations}}
          {% endautoescape%}
        
      </ul>
    </div>
  

  



	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add Book</h3>
  </div>
  <div class="modal-body">
		<form class="form-horizontal" id="newbook" method="get">
		  <div class="control-group">
		  	<label class="control-label" for="isbn">ISBN</label>
		  	<div class="controls">
		  	<input type="text" class="input-small" name="isbn" placeholder="ISBN" 	required pattern="^[0-9]*$">
		  	</div>
		  </div>

		  <div class="control-group">
		  	<label class="control-label" for="title">Title</label>
		  	<div class="controls">
		  	<input type="text" class="input-small" name="title" placeholder="Title" 	required>
		  	</div>
		  </div>

		  <div class="control-group">
		  	<label class="control-label" for="authors">Authors</label>
		  	<div class="controls">
		  	<input type="text" class="input-small" name="authors" placeholder="authors" 	required>
		  	</div>
		  </div>

		  <div class="control-group">
		  	<label class="control-label" for="price">Price</label>
		  	<div class="controls">
		  	<input type="text" min="0" class="input-small" name="price" placeholder="Price" 	required pattern = "^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*))$">
		  	</div>
		  </div>

		  <div class="control-group">
		  	<label class="control-label" for="numbers">Numbers</label>
		  	<div class="controls">
		  	<input type="number" min="0" class="input-small" name="numbers" placeholder="Numbers" 	required pattern="^\d+$">
		  	</div>
		  </div>

		  <div class="control-group">
		  	<label class="control-label" for="publisher">Publisher</label>
		  	<div class="controls">
		  	<input type="text" class="input-small" name="publisher" placeholder="Publisher	" required>
		  </div>
		 </div>

		  <div class="control-group">
		  	<label class="control-label" for="pubdate">PubDate</label>
		  	<div class="controls">
		  	<input type="date" class="input-small" name="pubdate" placeholder="PubDate" required pattern="^(d{2}|d{4})-((0([1-9]{1}))|(1[1|2]))-(([0-2]([1-9]{1}))|(3[0|1]))$"> 
		  	</div>
		  </div>

		  <button type="submit" class="btn btn-primary pull-right">Submit</button>

		</form>

  </div>
</div>

{% block toolbar%}
<div class="toolbar">
	<a href="#myModal" class="s3d twitter middle" style="margin:0 35%" data-toggle="modal">Add Book</a>
</div>

{% endblock%}



{% endblock%}


<!-- {{block.super}} -->

{% block footbox_left %}
	<!-- {{block.super}} -->
<article class="footbox">
	<h2>Book Cloud</h2>
	<canvas width="400" height="300" id="myCanvas1" style="">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
    </canvas>

    <div id="tags1" style="display: none;">
      <ul>
     	{% for book in books %}
     	<li><a href="/home/book/?book={{book.id}}">{{book.title}}</a></li>
     	{% endfor%}

      </ul>
	</div>
</article>
{% endblock %}

{% block footbox_middle %}
{% endblock %}


{% block footbox_right %}
<article class="latestgallery">
	  <h2>Author Cloud</h2>
	  <canvas width="300" height="300" id="myCanvas2" style="">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
      </canvas>
   
    
	<div id="tags2" style="display: none;">
      <ul>
     	{% for book in books %}
     	<li><a href="/home/book/?book={{book.id}}">{{book.authors}}</a></li>
     	{% endfor%}

      </ul>
	</div>
</article>
{% endblock %}

