{% extends "base.html" %}

{% block header%}
	
	<a href="/home/book/" class="span2 btn btn-info" id="books">Books</a>
	<!-- <a href="#" class="span2 btn btn-danger" id="neworder" value="{{order_id}}" >New Order</a>
 -->
	<div class="btn-group span2">
	  <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
	    New Order
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><a href="#" class="ordertype">In</a></li>
	    <li><a href="#" class="ordertype">Out</a></li>
	  </ul>
	</div>

{% endblock%}


{% block content%}

<div class="toolbar">
	<form>
		<input type="date" name="start_time" />
		<input type="date" name="end_time"	/>
		<button type="submit" class="btn btn-primary" style="margin-left:25px;">Submit</button>
	</form>
</div>
<table border="1" class="table table-bordered table-hover" id="booklist" style="border:1px solid black;">
	<thead>
		<tr class="info">
			<th data-sort="int">OrderID</th>
			<th data-sort="date">Date</th>
			<th data-sort="float">Account</th>
			<th data-sort="string">OrderType</th>
			
		</tr>
	</thead>
		
		{% for order in orders %}
		<tr  class="{% ifequal order.type 'In' %}info
					{% else %}warning
					{% endifequal%}">
			<td><a href="/home/bookorder/?order={{order.id}}">{{order.id}}</a></td>
			<td>{{order.date}}</td>
			<td>{%ifequal order.type 'In'%}-{%else%}+{%endifequal%}{{order.info}}</td>
			<td>{% ifequal order.type 'In' %}进货{% else %}出售{% endifequal%}</td>
		</tr>

		{% endfor%}
</table>

{% block toolbar%}

<div class="toolbar">
	<a href="#" class="s3d facebook middle" >支出：<strong>{{total_outgo}}<strong/></a></li>
	<a href="#" class="s3d designmoo middle">收入：<strong>{{total_income}}<strong/></a></li>
</div>

<div class="toolbar">
	<a href="#" class="ordertype s3d twitter middle" value='In'>进货</a></li>
	<a href="#" class="ordertype s3d flickr middle" value='Out'>出售</a></li>
</div>
{% endblock%}


{% endblock%}