{% extends "base.html" %}

{% block header%}
	
	<a href="/home/book/" class="span2 btn btn-info" id="books">Books</a>
	<!-- <a href="#" class="span2 btn btn-danger" id="neworder" value="{{order_id}}" >New Order</a>
 -->
	<div class="btn-group span2">
	  <a class="btn dropdown-toggle btn-danger" data-toggle="dropdown" href="#">
	    New Order
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li><a href="#" class="ordertype">In</a></li>
	    <li><a href="#" class="ordertype">Out</a></li>
	  </ul>
	</div>

{% endblock%}


{% block content%}

<table border="1" class="table table-bordered table-hover" id="booklist" style="border:1px solid black;">
	<thead>
		<tr class="info">
			<th data-sort="int">OrderID</th>
			<th data-sort="date">Date</th>
			<th data-sort="float">Account</th>
			<th data-sort="string">OrderType</th>
			
		</tr>
	</thead>
		
		{% for order in orders %}
		<tr  class="{% ifequal order.type 'In' %}info
					{% else %}warning
					{% endifequal%}">
			<td><a href="/home/bookorder/?order={{order.id}}">{{order.id}}</a></td>
			<td>{{order.date}}</td>
			<td>{%ifequal order.type 'In'%}-{%else%}+{%endifequal%}{{order.info}}</td>
			<td>{{order.type}}</td>
		</tr>

		{% endfor%}
</table>

{% endblock%}